body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  font-size: 17px;
}
html, html::after, html::before {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  background-color: red;
  height: 100%;
  width: 100%;
}
nav {
  padding: 3em;
  display: flex;
  height: 50px;
  cursor: pointer;
  justify-content: space-between;
}
.div_two {
  padding: 0em 3em 0em 3em;
  display: flex;
  justify-content: space-around;
  background-image: url("https://cdn.discordapp.com/attachments/829914581039579166/970727914515623966/hero.png");
  background-size: cover;
  overflow: hidden;
}
.div_two button {
  border: none;
  outline: none;
  border-radius: 10px;
  color: #fff;
  background-color: #000;
  font-weight: 700;
  font-size: 17px;
  padding: 10px;
}
.div_two h2 {
  font-size: 3em;
  color: rgb(71, 71, 71);
}
.div_two a {
  color: #fff;
  text-decoration: none;
}

.div_three h2 {
  text-align: center;
  font-size: 3em;
}
.div_three {
  padding: 3em 3em 3em 3em;
  display: flex;
  background-color: #8BE462;
  justify-content: space-around;
  background-size: 101%;
  flex-direction: row;
  align-items: center;
}
.div_three div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div_three img {
  margin-right: 70px;
 border-radius: 20px;
 box-shadow: 10px 10px;
 margin-left: 50px;
}
.div_three h2 {
  width: 60%;
  text-align: start;
  font-size: 3em;
  color: rgb(71, 71, 71);
}
.left-side {
  margin-right: 20px;
}
.div_four h2 {
  color: #fff;
}
.div_four {
  background-color: #B45CF9;
 padding: 3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.div_four p {
  color: #fff;
  width: 600px;
}
.div_four h2 {
  text-align: center;
  font-size: 3em;
}
.div_four input {
  padding: 1em;
  border-radius: 12px;
  outline: none;
  border: none;
}
textarea {
  padding: 1em;
  border-radius: 12px;
  outline: none;
  border: none;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.form {
  display: flex;
  flex-direction: column;
}
.label {
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 20px;
}
.submit-button {
  margin-top: 30px;
  background-color: #8BE462;
  color: #fff;
  outline: none;
  border-radius: 10px;
  border: none;
  padding: 10px;
}
input {
  padding: 20px;
  color: #fff;
  font-size: 20px;
  color: #000;
}
.word-app {
  color: #B45CF9;
  text-decoration: underline;
}
.para {
  width: 50%;
}
.left-side h2 {
  width: 50%;
}
.expo-link img, .github-link img {
  width: 50px;
  border-radius: 10px;
  margin-right: 1px;
}
.expo-link  {
 display: flex;
 align-items: center;
 margin-top: 40px;
 background-color: #000;
 width: 180px;
 border-radius: 15px;
}
.github-link {
  display: flex;
  border-radius: 15px;
  margin-top: 40px;
  background-color: #000;
  align-items: center;
  width: 190px;
}
.banner {
  background-color: #B45CF9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  color: #fff;
  height: 40px;
  position: sticky;
  top: 0;
  left: 0;
  text-decoration: underline;
}
.banner .icon-font {
  font-size: 28px;
  cursor: pointer;
}
.right-side img {
  width: 550px;
}
.form-div {
  display: flex;
  width: 60%;
  flex-direction: column;
}